<article>
    <section>
        <button (click)="goBack()" class="btnVolver">Atrás</button>
        <form class="formulario" [formGroup]="FormularioUsuario" (ngSubmit)="registrarUsuario()">
            <h1>Regístrate</h1>
            <div class="input-group mb-3">
                <input style="height: 60px;" type="text" class="form-control" formControlName="nombre" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input style="height: 60px;" type="text" class="form-control" formControlName="apellido" placeholder="Apellido" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div>
                <input style="height: 60px;" type="number" class="form-control" formControlName="dni" placeholder="Dni" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <input style="height: 60px; margin-top: 15px;" type="number" class="form-control" formControlName="telefono" placeholder="Teléfono" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <input style="height: 60px;" type="text" class="form-control" formControlName="correo" placeholder="Correo" aria-label="Correo" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input style="height: 60px;" type="password" class="form-control" formControlName="clave" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn">Registrarse</button>
            </div>
        </form>
    </section>
</article>
